    * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html, body {
            width: 100%;
            height: 100%;
            background-color: rgba(247, 246, 246, 0.938);
        }

        .header {
            background-color: #131A22;
            padding: 20px;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 20px;
        }
        /* image Scroller */
        .image-scroller {
            display: flex;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            gap: 20px;
            padding: 0px;
        }

        .background_image {
            width: 90%;
            margin-left: 5%;
            flex: 0 0 90%;
            scroll-snap-align: center;
            border-radius: 10px;
            transition: transform 0.3s ease;
            background-blend-mode: lighten;
        }

        .background_image:hover {
            transform: scale(1.02);
        }

        /* Hide scrollbar for better aesthetics */
        .image-scroller::-webkit-scrollbar {
            display: none;
        }


        .scroller-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        #prevBtn, #nextBtn {
            background-color: #ffffffcc;
            border: none;
            font-size: 2rem;
            cursor: pointer;
            z-index: 10;
            padding: 10px;
            border-radius: 50%;
            margin: 0 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }

        #prevBtn:hover, #nextBtn:hover {
            background-color: #ffffff;
        }

        nav{
            background-color: #232F3E;
            padding: 10px;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .header img {
            width: 8%;
            height: auto;
        }

        #all_image{
            width:45px;
        }

        #india{
            width: 1.5%;
            padding:0%;
        }

       .search-form {
            display: flex;
            flex: 1;
            height: 40px;
        }

        .search-form select {
            padding: 8px;
            border: none;
            border-radius: 4px 0 0 4px;
            outline: none;
            background-color: #f3f3f3e0;
            font-size: 14px;
            width: 55px;;
        }

        .search-form input[type="search"] {
            flex: 1;
            padding: 8px;
            border: none;
            outline: none;
            font-size: 14px;
        }
        .search-form:hover{
            border: 3px solid orange;
        }

        .search-form button {
            padding: 0 16px;
            border: none;
            background-color: #febd69;
            cursor: pointer;
            border-radius: 0 4px 4px 0;
        }

        #background_image{
            width:90%;
            margin-left: 5%;
        }
        #cart{
            width:30px;
        }

        h5{
            color:#f3f3f3;
        }

        p{
            color:#f3f3f3;
            font-family: Arial, sans-serif; 
            margin-left: 10px;
        }

        #helloSection{
            width:130px;
        }

        .search-form button:hover {
            background-color: #f3a847;
        }
        #language_selection{
            background-color: #131A22;
            color: white;
            border-color: #131A22;
        }

        div.headerdiv{
        background-color: #131a22;
        }

        #Products-section {
            position: absolute;          
            top: 250px;                  
            left: 100px;                 
            width: 350px;
            height: 450px;
            background-color: white;    
            z-index: 5;                 
            border: none;
            padding: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        #Products-section-2 {
            position: absolute;          
            top: 250px;                  
            left: 465px;                 
            width: 350px;
            height: 450px;
            background-color: white;    
            z-index: 5;                 
            border: none;
            padding: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        #Products-section-3 {
            position: absolute;          
            top: 250px;                  
            left: 830px;                 
            width: 350px;
            height: 450px;
            background-color: white;    
            z-index: 5;                 
            border: none;
            padding: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        #Products-section-4 {
             position: absolute;          
            top: 850px;                  
            left: 100px;                 
            width: 350px;
            height: 450px;
            background-color: white;    
            z-index: 5;                 
            border: none;
            padding: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        #Products-section-5 {
             position: absolute;          
            top: 850px;                  
            left: 465px;                 
            width: 350px;
            height: 450px;
            background-color: white;    
            z-index: 5;                 
            border: none;
            padding: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        #Products-section-6 {
             position: absolute;          
            top: 850px;                  
            left: 830px;                 
            width: 350px;
            height: 450px;
            background-color: white;    
            z-index: 5;                 
            border: none;
            padding: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        #Products-section-7 {
             position: absolute;          
            top: 850px;                  
            left: 1195px;                 
            width: 350px;
            height: 450px;
            background-color: white;    
            z-index: 5;                 
            border: none;
            padding: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        #Products-section-8 {
             position: absolute;          
            top: 1325px;                  
            left: 100px;                 
            width: 1445px;
            height: 250px;
            background-color: white;    
            z-index: 5;                 
            border: none;
            padding: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        #Products-section-9 {
             position: absolute;          
            top: 1600px;                  
            left: 100px;                 
            width: 1445px;
            height: 250px;
            background-color: white;    
            z-index: 5;                 
            border: none;
            padding: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        #Products-section-10 {
             position: absolute;          
            top: 1875px;                  
            left: 100px;                 
            width: 350px;
            height: 450px;
            background-color: white;    
            z-index: 5;                 
            border: none;
            padding: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        #Products-section-13 {
             position: absolute;          
            top: 1875px;                  
            left: 465px;                 
            width: 350px;
            height: 450px;
            background-color: white;    
            z-index: 5;                 
            border: none;
            padding: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        #Products-section-11 {
             position: absolute;          
            top: 1875px;                  
            left: 830px;                 
            width: 350px;
            height: 450px;
            background-color: white;    
            z-index: 5;                 
            border: none;
            padding: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        #Products-section-12 {
             position: absolute;          
            top: 1875px;                  
            left: 1195px;                 
            width: 350px;
            height: 450px;
            background-color: white;    
            z-index: 5;                 
            border: none;
            padding: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        #advertisement{
            height: 130px;
            width: 130px;
            float: right;
            padding: 0px 5px 20px 10px;
        }

        #Advertisement {
            position: absolute;          
            top: 250px;                  
            left: 1195px;                 
            width: 350px;
            height: 160px;
            background-color: white;    
            z-index: 5;                 
            border: none;
            padding: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        #advertisement-2 {
            position: absolute;          
            top: 420px;                  
            left: 1195px;                 
            width: 350px;
            height: 280px;
            border:none;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        #heading{
            font-family: Arial, sans-serif; 
            font-size: 21px;
            padding:15px 10px 10px 10px;
        }

        #product-1{
            height: 120px;
            width: 150px;
            padding: 10px;
        }

        #product-2{
            height: 120px;
            width: 150px;
            padding: 10px;
        }

        #product-5{
            margin: 0px 10px 0px 30px;  
            height: 130px;
            width: 100px;
            padding: 0px 10px 0px 10px;
        }

        #sroll-product{
            height: 190px;
            width: 275px;
            padding: 0px 12px 10px 12px;
        }

        #top-picks{
            height: 250px;
            width: 230px;
            padding: 20px 0px 20px 60px;
        }

        #label_1{
            color: black;
            padding: 0px 0px 0px 24px;
            font-size: 12px;
        }

        #top-picks-para{
            color:black;
            font-family: Arial, sans-serif;
            font-size: 14px; 
            margin-left: 10px;
        }

        #price{
            color:black;
            font-family: Arial, sans-serif;
            font-size: 24px; 
            margin-left: 10px;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
        }

        .text1, .text2 {
            display: inline-block;
            width: 50%;
            padding: 10px; 
            font-family: Arial, sans-serif;
            font-size: 13px;
            padding: 10px 0px 0px 15px;
        }

        a{
            font-family: Arial, sans-serif;
            text-decoration: none;
            padding: 50px 10px 10px 10px;
            font-size: 13px;
            color: rgb(13, 116, 180);
        }

        /*this is a sample code 
        
        <div style="padding: 2%">
            <img src="\images\revamp_img_1.jpg" id="product-1" alt="product 1"/>
            <img src="\images\revamp_img_2.jpg" id="product-1" alt="product 2"/>
        <div class="container">
            <div class="text1">Cotton Carpets and Bedsheets</div>
            <div class="text2">Figurines, Vases and More</div>
        </div>
        </div>
        <div>
            <img src="\images\revamp_img_3.jpg" id="product-2" alt="product 1"/>
            <img src="\images\revamp_img_4.jpg" id="product-2" alt="product 2"/>
        <div class="container">
            <div class="text1">Home Storage Items</div>
            <div class="text2">Lighting Solutions</div>
        </div>
        </br></br>
            <a href="https://www.amazon.in/s?k=projectors&crid=1DMTC1RHSMS0R&sprefix=projectors%2Caps%2C257&ref=nb_sb_noss_1">See More</a>
        </div>
        */